*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.4 ;
    margin: 5px;
}

body{
    display: grid;
    place-content: center
}

div{
    width: auto;
}


h2{
    color: #CC6600;
    font-size: 1.6em;
    line-height: 1.2;
    margin-bottom: 0.3em;
}

h3{
    color: #003366;
}

h1{
    font-size: 1.6em;
    background-color: #db9157;
}

header{
    height: 50px;
}

header aside{
    float: right;
  width: fit-content;
  margin-left: 10px;
  margin-top: 10px;
}

nav{
    background-image: url(fondo_menu.gif);
    background-size: auto; 
    margin-right: 1.3em;
    padding: 5px;
    width: 100%;
}
nav a{
    color: white;
    font-size: 1.3em;
}

aside{
    font-size: 0.9em;
    width: 200px;
}

span{
    display: block;
    color: #999;
}

#lateral{
    float: left;
}
#noticias{
    border: #d1d1d5 solid 2px;
    background-color: #f7f7f7;
    
}

#publicidad{
    color: #555;
    border: #bda082 dotted 2px;
    background-color: #fff7ce;
}

#publicidad p a{
    color: #CC6600;
}

#secundario{
    color: #555;
    border: #db9157 solid 2px;
    width: 198px;
    float: right;
    position: ;
}

main{
    width: 800px;
}
article a{
    color: #CC6600;
}

article p{
    margin-block: 0.3em;
}

main img{
    width: 75px;
    float: left;
    margin: 5px;
}

footer{
    font-size: 0.8em;
    padding: 5px;
    clear: both;
    border-block:  #c9c6c6 solid 1px
}

footer a{
    border-right: #999 solid 1px;
    padding-right: 1%;
}

strong{
    float: right;
}