body{
    text-align: center;
    padding-inline: 30%;
}

main{
    text-align: left;
    border: 5px;
    border-style: outset;
    box-shadow: 0px 0px 0px 2px;
    padding: 8px;
}

.h3inicial{
    margin-top: 0px;
}
main > div{
    background-color: transparent;
    margin: 0px;
    border: none;
    padding: 0px;
}


div{
    border: 2px solid;
    margin-block: 0.7px;
    padding: 3%;
}

.contenedor1{
    background-image: linear-gradient(#717171, black)
}
.contenedor1 > div{
    background-image: none;
    transition: background-position 0.5s linear;
    background-position: calc(100% - (100% * (1 - ((index + 1) / (total_divs))))) 0;
}