body{
    text-align: center;
    padding-inline: 30%;
}

main{
    text-align: left;
    border: 5px;
    border-style: outset;
    box-shadow: 0px 0px 0px 2px;
    padding: 8px;
}

main h3:first-child{
    margin-top: 0px;
}

table{
    border-spacing: 1px;
    width: 100%;
}

td{
    border: black 1px solid;
    height: 10px;
}

.contenedor1 > *{
    background-image: linear-gradient(rgb(70, 68, 68),black);;
}

.contenedor2 > *{
    background-image: linear-gradient(rgb(70, 68, 68),rgb(91, 88, 88));
}

.contenedor3 > *{
    background-image: linear-gradient(rgb(156, 6, 6),red);
}

.contenedor4 > *{
    background-image: linear-gradient(#fff5ff,#ff1a9e);
}