*{
    font-family: sans-serif;
}

html, body{
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10%;
    max-width: 50vw;
    gap: 5%;
}

header {
    padding-inline: 10%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 70px;
    background: #f5f9fa;
}

.menu{
    font-size: 1rem;
}
ul{
    display: flex;
    list-style: none;
    gap: 10%;
    padding: 0;
}

ul a{
    text-decoration: none;
    color: black;
}
ul a:hover{
    color: #5E5D6E;
}


.background{
    position: fixed;
    z-index: -1;
    top: -10px;
    left: -10px;
}
.background img{
    width: 100vw;
}

.contenedorf {
    position: relative;
    overflow: hidden;
}

.logocont{
    text-align: center;
    margin-block: 5%;

}

.contenedor{
    text-align: center;
    padding-block: 10%;
}

.contenedor1{
    background: white;
}

.callcont{
    margin-inline: 25%;
}

button {
    color: white;
    background: black;
    border: none;
    height: 50px;
    width: 25%;
    min-width: fit-content;
    padding-block: 15px;
    padding-inline: 40px;
    font-size: 1em;
    transition: background 0.5s linear;
    -webkit-transition: background 1s linear;
}
button:hover{
    transition: background 0.5s linear;
    -webkit-transition: background 1s linear;
    background: #4A4959;
    font-size: 1.1em;
    line-height: 1.5em;
}

.contenedor2{
    background: #1C1D22;
    color: white;
}

.infos {
    display: flex;
    gap: 5%;
    justify-content: space-around;
    padding: 5%;
    padding-inline: 10%;
}

.contenedor3{
    background: white;
}

.articles {
    display: flex;
    gap: 5%;
    justify-content: space-around;
    padding: 5%;
    padding-inline: 10%;
}

.articles img {
    max-width: 550px;
    width: 100%;
}

footer{
    height: 210px;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

footer img{
    max-width: 50px;
    min-width: 50px;
}

@media screen and (max-width: 425px) {
    .logocont img{
        width: 65%;
    margin-top: 100px;
    }

    .infos {
        display: block;
        justify-content: space-around;
        padding: 5%;
        padding-inline: 10%;
    }

    .articles {
        display: block;
        justify-content: space-around;
        padding: 5%;
        padding-inline: 10%;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .logocont img{
        width: 65%;
    margin-top: 100px;
    }
}