.hidden {
    display: none !important;
}

h1 {
    font-family: 'Poppins-semibold';
    font-size: 4rem;
    font-weight: 501;
}

h2 {
    font-family: 'Poppins-semibold';
    font-size: 2.47rem;
    font-weight: 501;
}

p {
    font-family: sans-serif;
    font-size: 1.52rem;
    font-weight: normal;
}

.shopseccion {
    display: flex;
    gap: 50px;
}

.seccion {
    margin-top: 150px;
    flex: 3;
    width: 100%;
}

.p1 {
    margin-bottom: 100px;
}

.tiers {
    padding: 5%;
    background: #17171771;
    border: #4F4F4F solid 0.5px;
    border-radius: 10px;
    margin-top: 60px;
    backdrop-filter: blur(0.5rem);
    box-shadow: 0 0 120px -68px;
}

.tiers h2 {
    margin-top: -5px;
    display: inline-block;
    line-height: 1.2;
}

.tiers span {
    font-family: 'Poppins-Regular';
    font-size: 1.8rem;
    margin-inline: 2%;
    background: #171717;
    border-radius: 10px;
    border: #4F4F4F solid 0.5px;
    padding: 1%;
    display: inline-block;
}

.tiers p {
    color: #858585;
}

h3 {
    font-family: 'Poppins-semibold';
}

.subtiers {
    margin-block: 60px;
}

.esps {
    display: flex;
    text-align: center;
    align-items: stretch;
    gap: 20px;
}

.esps_card {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.esps_card_img {
    width: 100px;
}

.esps_card p {
    font-family: 'Poppins-bold';
    font-size: clamp(0.1rem, 0.2774rem + 0.9936vw, 1.52rem);
}

.h4esps {
    font-weight: 1;
}

.session h3 {
    text-align: center;
}

.counter {
    display: flex;
    justify-content: center;
}

.counter button {
    background: #5b5b5b54;
    color: #9b9b9b;
    padding: 0;
    font-size: 1rem;
    font-family: 'dela gothic one';
    border-radius: 478px;
    border: transparent;
    margin-top: 0;
    width: 30px;
    height: 30px;
    line-height: 0;
    box-shadow: 0 0 0 0;
}

.counter button:active {
    background: #bdbdbd54;
    color: #fff;
    box-shadow: 0 0 83px 0px;
    outline: #fff solid 1px;
    transform: scale(0.7);
}



.inputCount {
    text-align: center;
    max-width: 30px;
    margin-inline: 15px;
    margin-bottom: unset;
    background: rgba(133, 133, 133, 0.16);
    border-radius: 10px 10px 0 0;
}



button {
    background: #D9D9D9;
    color: #171717;
    padding: 10px 40px;
    font-size: 1.8rem;
    font-family: 'Poppins-semibold';
    font-weight: 501;
    border-radius: 10px;
    border: red solid;
    margin-top: 20px;
    align-self: center;
}

button:active {
    outline: red solid 0.2rem;
    background: #b0b0b0;
    transform: scale(0.9);
}

.shop {
    flex: 1.5;
    padding: 5% 20px;
    background: #171717;
    border: #4F4F4F solid 0.5px;
    border-radius: 5px;
    margin-top: 150px;
    z-index: 7;
}

.shop * {
    font-family: 'Poppins-Regular';
}

.shopHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.query {
    background: #00FF5B;
    color: black;
    border-radius: 278px;
    position: absolute;
    top: 60px;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-family: Poppins-Bold;
    font-size: 1.3rem;
}

.shop_sticky h2 {
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 10px;
}

.shop_sticky_hr {
    width: 274px;
    margin-left: 5px;
}

.shop_sticky {
    position: sticky;
    top: 3.5px;
}

.shop_resumen_head {
    font-size: 1.5rem;
}

.precio {
    padding-left: 5%;
}

.cantidad {
    font-family: 'Poppins-semibold';
}

.shop_overflow {
    overflow-y: auto;
    max-height: 410px;
}

.shop_overflow_element {
    display: flex;
    gap: 10px;
    border-bottom: 0.5px solid;
    margin-bottom: 25px;
}

.espsShoppedCantidad {
    font-size: 1.5rem;
    align-self: center;
    flex: 0.5;
}

.shop_overflow_element_img {
    flex: 1;
}

.shop_overflow_hr {
    width: 95%;
    border-color: #858585;
    margin-bottom: 20px;
}

.shop_total h2 {
    margin: 0;
    font-size: 1.8rem;
}

.detail_element {
    flex: 4;
}

.shop_total span {
    font-family: 'Poppins-black';
}

.mobilecart {
    position: fixed;
    top: 30px;
    right: 20px;
    background: #FFF;
    color: black;
    font-family: 'Poppins-Regular';
    border-radius: 955px;
    line-height: 60px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.mobilecartdata {
    color: black;
    font-family: 'Poppins-Regular', sans-serif;
}

.mobilecart img {

    width: 30px;
    position: absolute;
    top: 6px;
    left: 10px;
}

.checkout {
    position: fixed;
    z-index: 3;
    background: #F8F8F8;
    right: 0;
    left: 62.5%;
    top: 0;
    bottom: 0;
    padding: 50px 20px;
}

.checkout * {
    color: black;
}

.cancelar {
    background: 0;
    border: 0;
    position: absolute;
    top: 10px;
    left: 45px;
    font-family: 'Poppins-regular';
    font-weight: 1;
    font-size: 2rem;
    line-height: 0.7;
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 75px;
}

.cancelar:active {
    background: 0;
    outline: 0;

}

.cancelar:hover {
    background: red;
    color: white;
}

.frame1 {
    height: 100%;
}

.frame1 h2 {
    text-align: center;
    margin-block: 60px;
    margin-bottom: 0;
}

.checkout_formBox {
    display: flex;
    flex-flow: column wrap;
}

.checkout_formBox form {
    gap: 24px;
    margin-block: 40px 10px;
    flex-flow: column wrap;
}

.checkout_inputBox {
    position: relative;
    flex: 1;
    min-width: 295px;
    width: 440px;
}

.checkout_inputBox label {
    top: -10px;
    color: #858585;
}

.checkout_inputBox input:focus~label,
.checkout_inputBox input:not(:placeholder-shown)~label {
    top: -30px;
    color: #000;
    font-size: 12px;
}

.checkout input {
    border-bottom: 1px solid #000;
}

.checkout_inputBox textarea {
    background: #5a5a5a71;
    border: 0;
}

.checkout_inputBox textarea:focus,
.checkout_inputBox textarea:not(:placeholder-shown) {
    background: #99999971;
    outline: none;
    border: 0;
}

.frame2 {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    height: 100%;
    justify-content: center;
}


.frame2 img {
    flex: 2;
}

.frame2 p {
    flex: 1.5;
}

.mobilshop * {
    font-family: 'Poppins-Regular';
}

.mobilshop .shopHead {
    justify-content: center;
}

.mobilshop hr {
    width: 100%;
}

.altseccion {
    display: flex;
    flex-flow: column wrap;
}

.altseccion h1 {
    text-align: center;
}


.altseccion a {
    text-align: center;
    font-size: clamp(0.5rem, 0.6774rem + 3.7936vw, 6rem);
    font-family: 'Poppins-semibold';
    font-weight: 501;
    text-decoration: none;
    margin-block: 4%;
}

.altseccion a:hover {
    text-decoration: underline;
}

.formBox {
    position: relative;
}

form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    gap: 5px;
}

.nameemail {
    display: flex;
    align-self: center;
}

.inputBox {
    position: relative;
    ;
    flex-grow: 1;
    padding: 50px 100px 0 100px;
}

input {
    width: 100%;
    font-size: 1rem;
    font-family: 'Poppins-Regular';
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

input::selection {
    background: rgba(133, 133, 133, 0.776);
}

input::-moz-selection {
    background: rgba(133, 133, 133, 0.776);
}

input::-webkit-selection {
    background: rgba(133, 133, 133, 0.776);
}

label {
    position: absolute;
    top: 35px;
    padding: 10px 0;
    font-size: 16px;
    color: #858585;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:not(:placeholder-shown)~label {
    top: 10px;
    color: #fff;
    font-size: 12px;
}

textarea {
    font-family: 'Poppins-Regular';
    width: 100%;
    background: #17171771;
    border-bottom: #4F4F4F solid 0.5px;
    border-radius: 5px;
    backdrop-filter: blur(0.5rem);
    resize: none;
}

textarea::selection {
    background: rgba(133, 133, 133, 0.776);
}

textarea:focus {
    outline: rgba(255, 0, 0, 0.55) solid;
    border: transparent solid;
}

textarea::-moz-selection {
    background: rgba(133, 133, 133, 0.776);
}

textarea::-webkit-selection {
    background: rgba(133, 133, 133, 0.776);
}

.button {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.altseccion span {
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-inline: 0;
    background: transparent;
    border-radius: 0;
    border: none;
    padding: 0;
    color: #858585;
}

@media (min-width:319px) and (max-width:719px) {
    .altseccion h1 {
        text-align: left;
    }

    .altseccion p {
        padding-inline: 0;
    }

    h1 {
        font-size: clamp(2rem, 1.0774rem + 3.7936vw, 4rem);
    }

    h2 {
        font-size: clamp(1rem, 1.0774rem + 3.7936vw, 2.47rem);
    }
}

@media (max-width:560px) {
    .seccion {
        margin-top: 85px;
    }

    p {
        font-size: 1rem;
    }

    .tiers span {
        font-size: 1.3rem;
    }

    .esps {
        flex-flow: column;
        gap: 40px;
    }

    .inputBox {
        position: relative;
        flex-grow: 1;
        padding: 16px 19px;
    }

    button {
        margin-top: 20px;
    }

    .altseccion p {
        width: 100%;
    }
}

@media (max-width:768px) {
    .nameemail {
        flex-flow: column;
        align-self: normal;
    }

    .checkout {
        position: fixed;
        z-index: 3;
        background: #F8F8F8;
        left: 0;
        top: 0;
        bottom: 0;
        padding: 50px 20px;
    }

    .checkout_formBox {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }

    .checkout_formBox form {
        gap: 24px;
        margin-block: 40px 10px;
        flex-flow: column wrap;
        width: 100%;
    }

    .checkout_inputBox {
        position: relative;
        flex: 1;
        max-width: 90%;
    }

    .button {
        display: flex;
        flex-flow: column;
        justify-content: center;
        transform: scale(0.7);
    }
}

@media (min-width:901px) {
    .mobilecart {
        display: none;
    }

    .frame3 {
        display: none;
    }
}

@media (max-width:900px) {
    .shop {
        display: none;
    }
}

@media (max-width:1024px) {

    .mainlayer {
        left: 12%;
        width: 90%;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .checkout {
        left: 30%;
    }


}

@media (min-width:1024px) and (max-width:1440px) {
    .checkout_inputBox {
        width: clamp(0.1rem, 0.2774rem + 0.7936vw, 1.5rem);
        ;
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    .checkout_inputBox {
        width: clamp(0.1rem, 0.2774rem + 0.7936vw, 1.5rem);
        ;
    }
}

@media (min-width:1811px) and (max-width:2586px) {
    .shop_overflow {
        max-height: none;
    }

    .shopHead {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .shop_sticky_hr {
        width: 100%;
    }
}

@media (min-width:1900px) and (max-width:2586px) {
    .frame1 h2 {
        font-size: clamp(2rem, 0.4774rem + 1.7936vw, 3.5rem);
    }

    .checkout_inputBox {
        min-width: 440px;
        width: 550px;
    }

    .checkout_inputBox textarea {
        height: 120px;
    }

    .checkout_formBox form {
        gap: 64px;
    }

    .checkout_inputBox * {
        font-size: 1.5rem;
    }
}