*{
    padding: 0px;
    margin: 0px;
}
header{
    line-height: 0px;
}
header img{
    width: 100%;
    
}

#mainimg {
    text-align: center;
    line-height: 0px;
    background-color: #f0a30a;
}
section img {
    border: white 5px solid;
    width: 20%;
}

footer{
    background: #e89a06;
}
footer p{
    font-size: small;
}