* {
    color: white;
    /* border: solid 1px; */
    font-family: 'dela gothic one';
    box-sizing: border-box;
}

html,
body {
    display: flex;
    background-color: #222223;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    /* overflow: hidden; */
}

.topbg {
    position: fixed;
    box-sizing: border-box;
    width: 100vw;
    height: 100VH;
    z-index: 0;
}

.bgblack {
    background-color: black;
    position: absolute;
    height: 100vH;
    width: 100VW;
    z-index: 1;
}

.point {
    border-radius: 50%;
    z-index: 1;
    position: absolute
}

.bgnoise {
    position: absolute;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: 1;
    visibility: visible;
    height: 100vH;
    width: 100VW;
    z-index: 2;
}


/********* SECCION DE PUNTOS DE FONDO***************/

.point-floating-1 {
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    -webkit-animation-name: p1;
    -webkit-animation-duration: 80s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p1;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.2rem);
}

.point-floating-2 {
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    -webkit-animation-name: p2;
    -webkit-animation-duration: 90s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p2;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.5rem);
}

.point-floating-3 {
    background-color: white;
    height: 5px;
    width: 5px;
    position: relative;
    -webkit-animation-name: p3;
    -webkit-animation-duration: 70s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p3;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.5rem);
}

.point-floating-4 {
    background-color: white;
    height: 8px;
    width: 8px;
    position: relative;
    -webkit-animation-name: p4;
    -webkit-animation-duration: 80s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p4;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.5rem);
}

.point-floating-5 {
    background-color: white;
    height: 8px;
    width: 8px;
    position: relative;
    -webkit-animation-name: p5;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p5;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.2rem);
}

.point-floating-6 {
    background-color: white;
    height: 8px;
    width: 8px;
    position: relative;
    -webkit-animation-name: p6;
    -webkit-animation-duration: 70s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p6;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.3rem);
}

.point-floating-7 {
    background-color: white;
    height: 10px;
    width: 10px;
    position: relative;
    -webkit-animation-name: p7;
    -webkit-animation-duration: 70s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p7;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.4rem);
}

.point-floating-8 {
    background-color: white;
    height: 6px;
    width: 6px;
    position: relative;
    -webkit-animation-name: p8;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p8;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.2rem);
}

.point-floating-9 {
    background-color: white;
    height: 12px;
    width: 12px;
    position: relative;
    -webkit-animation-name: p9;
    -webkit-animation-duration: 100s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p9;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.4rem);
}

@-webkit-keyframes p1 {
    0% {
        left: 0px;
        top: 0px
    }

    50% {
        left: 0;
        top: 800px
    }

    100% {
        left: 0px;
        top: 0px
    }
}

@keyframes p1 {
    0% {
        left: 800px;
        top: 0px
    }

    50% {
        left: 0px;
        top: 800px
    }

    100% {
        left: 800px;
        top: 0px
    }
}

@-webkit-keyframes p2 {
    0% {
        left: 0;
        top: 100px
    }

    50% {
        left: 0;
        top: 800px
    }

    100% {
        left: 0;
        top: 100px
    }
}

@keyframes p2 {
    0% {
        left: 0;
        top: 100px
    }

    50% {
        left: 0px;
        top: 800px
    }

    100% {
        left: 0;
        top: 100px
    }
}

@-webkit-keyframes p3 {
    0% {
        left: 300px;
        top: 900px
    }

    50% {
        left: 500px;
        top: 0px
    }

    100% {
        left: 300px;
        top: 900px
    }
}

@keyframes p3 {
    0% {
        left: 300px;
        top: 900px
    }

    50% {
        left: 500px;
        top: 0px
    }

    100% {
        left: 300px;
        top: 900px
    }
}

@-webkit-keyframes p4 {
    0% {
        left: 1000px;
        top: 500px
    }

    50% {
        left: 00px;
        top: 500px
    }

    100% {
        left: 1000px;
        top: 500px
    }
}

@keyframes p4 {
    0% {
        left: 1000px;
        top: 500px
    }

    50% {
        left: 0px;
        top: 500px
    }

    100% {
        left: 1000px;
        top: 500px
    }
}

@-webkit-keyframes p5 {
    0% {
        left: 500px;
        top: 1000px
    }

    50% {
        left: 50%;
        top: 0px
    }

    100% {
        left: 500px;
        top: 1000px
    }
}

@keyframes p5 {
    0% {
        left: 500px;
        top: 1000px
    }

    50% {
        left: 50%;
        top: 0px
    }

    100% {
        left: 500px;
        top: 1000px
    }
}

@-webkit-keyframes p6 {
    0% {
        left: 500px;
        top: 200px
    }

    50% {
        left: 50%;
        top: 70%
    }

    100% {
        left: 500px;
        top: 200px
    }
}

@keyframes p6 {
    0% {
        left: 500px;
        top: 200px
    }

    50% {
        left: 50%;
        top: 70%
    }

    100% {
        left: 500px;
        top: 200px
    }
}

@-webkit-keyframes p7 {
    0% {
        left: 50px;
        top: 10%
    }

    50% {
        left: 50%;
        top: 10%
    }

    100% {
        left: 50px;
        top: 10%
    }
}

@keyframes p7 {
    0% {
        left: 50px;
        top: 10%
    }

    50% {
        left: 50%;
        top: 10%
    }

    100% {
        left: 50px;
        top: 10%
    }
}

@-webkit-keyframes p8 {
    0% {
        left: 0;
        top: 20%
    }

    50% {
        left: 50%;
        top: 20%
    }

    100% {
        left: 0;
        top: 20%
    }
}

@keyframes p8 {
    0% {
        left: 0;
        top: 20%
    }

    50% {
        left: 50%;
        top: 20%
    }

    100% {
        left: 0;
        top: 20%
    }
}

@-webkit-keyframes p9 {
    0% {
        left: 1000px;
        top: 100px
    }

    50% {
        left: 500px;
        top: 950px
    }

    100% {
        left: 1000px;
        top: 100px
    }
}

@keyframes p9 {
    0% {
        left: 1000px;
        top: 100px
    }

    50% {
        left: 500px;
        top: 950px
    }

    100% {
        left: 1000px;
        top: 100px
    }
}

/*******************FINAL******************/
/* .cristal{
    background-color: rgba(255, 255, 255, 0.034);
    backdrop-filter: blur(1rem);
    position: absolute;
    height: 100vb;
    width: 150%;
    z-index: 3
} */
.mainlayer {
    position: absolute;
    left: 16%;
    right: 8%;
}

.navbutton {
    z-index: 2;
    position: fixed;
    margin-top: 1rem;
    grid-area: 1/15;
}

.navbutton hr {
    min-width: 85px;
    width: 10%;
    justify-content: center;
}

.menu {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translateX(-50%);
    width: clamp(100%, 1.0774rem + 3.7936vw, 100%);
    height: clamp(100%, 1.0774rem + 3.7936vw, 100%);
    border-radius: 0 0 100% 100%;
    transition: ease-in 0.5s;
    padding: 5%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 9;
}

.menu a {
    color: black;
    display: block;
    text-decoration: none;
    font-size: clamp(3rem, 1.0774rem + 3.7936vw, 7rem);
    text-align: center;
}

.menu a:hover {
    color: rgb(65, 59, 59)
}

#desplegar:target+.menu {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: clamp(100%, 1.0774rem + 3.7936vw, 100%);
    border-radius: 0;
    transition: ease-in 0.4s;
    padding-bottom: 1%;
    /* padding: 5%; */
    box-sizing: border-box;
    overflow: hidden;
    z-index: 9;
}

#lownavbutton {
    width: fit-content;
    margin-inline: 48%;
    align-items: center;
    height: 50%;
}

#lownavbutton hr {
    min-width: 85px;
    width: fit-content;
    text-align: center;
    margin: 8px;
    color: black;
}


.porfolio {
    grid-area: 8/14/14/29;
    text-align: right;
    /* font-size: 3.5rem; */
    font-size: clamp(3rem, 1.0774rem + 3.7936vw, 5rem);
}

.freelance {
    grid-area: 24/23/28/29;
    text-align: right;
    font-size: clamp(0.1rem, 1.0774rem + 3.7936vw, 1rem);
}

.lateralbar {
    border: #757573 1px solid;
    border-radius: 7pt;
    position: fixed;
    left: 10px;
    top: 10px;
    bottom: 10px;
    width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 8;
  }
  
  .whitelabel {
    flex-grow: 1;
    padding: 20px; 
  }
  
  .kglabel {
    padding: 0; 
    box-sizing: border-box;
    height: fit-content;
}
  
.kglabel * {
    font-size: 2rem;
    width: fit-content;
    font-family: 'alumni sans';
    transform: rotate(-90deg);
    
}

.dots {
    margin-block: 0;
    padding: 5px;
    margin-left: 10px;
    font-size: 6rem;
    height: 4rem;
    line-height: 15px;
    z-index: 3;
}

.about {
    margin-block: 0;
    padding-left: 12px;
    padding-block: 0;
    padding-right: 25px;
    height: 4rem;
    overflow: hidden;
}

.about > h2 {
    margin-block: 0;
    padding: 0;
    height: 100%;
}

.about > a {
    font-style: italic;
    font-size: 3.5rem;
    margin-block: 0;
    padding: 0;
    height: 100%;
    line-height: 35px;
    text-decoration: none;
}

BARRA LATERAL EXTENDIDA 

/* .lateralbar {
    display: flex;
    flex-direction: row;
    color: white;
    border: white solid ;
    font-family: 'alumni sans';
    position: fixed;
    left: -1.8rem;
    z-index: 3;
}

.whitelabel {
    display: grid;
    flex: auto;
    grid-template-columns: repeat(10, 1fr);
    width: 5px;
    border: white solid;
    z-index: 3;
    position: relative;
}

.kglabel {
    display: flex;
    height: 4rem;
    box-sizing: border-box;
    z-index: 3;
    position: relative;
}

.kglabel * {
    font-size: 2rem;
    width: fit-content;
    font-family: 'alumni sans';
    z-index: 3;
}

.dots {
    margin-block: 0;
    padding: 5px;
    margin-left: 10px;
    font-size: 6rem;
    height: 4rem;
    line-height: 32px;
    z-index: 3;
}

.about {
    margin-block: 0;
    padding: 6px;
    padding-right: 25px;
    height: 4rem;
    line-height: 50px;
    text-decoration: none;
    overflow: hidden;
    z-index: 3;
}

.about * {
    font-style: italic;
    font-size: 4rem;
    margin-block: 0;
    padding: 0;
    height: 100%;
    line-height: 50px;
    text-decoration: none;
    overflow: hidden;
    z-index: 3;
} */