@import url(../../CSS/PROYECTO/fonts.css);

* {
    color: white;
    /* border: solid 1px; */
    font-family: 'dela gothic one', 'DelaGothicOne-Regular', DelaGothicOne-Regular, sans-serif;
}

html,
body {
    display: flex;
    background-color: #222223;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

.advice {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-block: 30%;
    text-align: center;
    justify-content: center;
    visibility: hidden;
    z-index: 9999;
}

.advice h1 {
    color: black;
    font-family: sans-serif;
    font-size: 1;
}

.alpha {
    position: fixed;
    z-index: 50;
    width: fit-content;
    height: fit-content;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 0 0 50px 0;
}

.topbg {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 4690px;
}

.bgblack {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.point {
    border-radius: 50%;
    z-index: 1;
    position: absolute
}

.bgnoise {
    position: absolute;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: 1;
    visibility: visible;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
}


/********* SECCION DE PUNTOS DE FONDO***************/

.point-floating-1 {
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    -webkit-animation-name: p1;
    -webkit-animation-duration: 80s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p1;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.2rem);
}

.point-floating-2 {
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    -webkit-animation-name: p2;
    -webkit-animation-duration: 90s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p2;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.5rem);
}

.point-floating-3 {
    background-color: white;
    height: 5px;
    width: 5px;
    position: relative;
    -webkit-animation-name: p3;
    -webkit-animation-duration: 70s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p3;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.5rem);
}

.point-floating-4 {
    background-color: white;
    height: 8px;
    width: 8px;
    position: relative;
    -webkit-animation-name: p4;
    -webkit-animation-duration: 80s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p4;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.5rem);
}

.point-floating-5 {
    background-color: white;
    height: 8px;
    width: 8px;
    position: relative;
    -webkit-animation-name: p5;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p5;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.2rem);
}

.point-floating-6 {
    background-color: white;
    height: 8px;
    width: 8px;
    position: relative;
    -webkit-animation-name: p6;
    -webkit-animation-duration: 70s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p6;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.3rem);
}

.point-floating-7 {
    background-color: white;
    height: 10px;
    width: 10px;
    position: relative;
    -webkit-animation-name: p7;
    -webkit-animation-duration: 70s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p7;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.4rem);
}

.point-floating-8 {
    background-color: white;
    height: 6px;
    width: 6px;
    position: relative;
    -webkit-animation-name: p8;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p8;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.2rem);
}

.point-floating-9 {
    background-color: white;
    height: 12px;
    width: 12px;
    position: relative;
    -webkit-animation-name: p9;
    -webkit-animation-duration: 100s;
    -webkit-animation-iteration-count: infinite;
    animation-name: p9;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    z-index: 1;
    filter: blur(0.4rem);
}

@-webkit-keyframes p1 {
    0% {
        left: 0px;
        top: 0px
    }

    50% {
        left: 0;
        top: 800px
    }

    100% {
        left: 0px;
        top: 0px
    }
}

@keyframes p1 {
    0% {
        left: 800px;
        top: 0px
    }

    50% {
        left: 0px;
        top: 800px
    }

    100% {
        left: 800px;
        top: 0px
    }
}

@-webkit-keyframes p2 {
    0% {
        left: 0;
        top: 100px
    }

    50% {
        left: 0;
        top: 800px
    }

    100% {
        left: 0;
        top: 100px
    }
}

@keyframes p2 {
    0% {
        left: 0;
        top: 100px
    }

    50% {
        left: 0px;
        top: 800px
    }

    100% {
        left: 0;
        top: 100px
    }
}

@-webkit-keyframes p3 {
    0% {
        left: 300px;
        top: 900px
    }

    50% {
        left: 500px;
        top: 0px
    }

    100% {
        left: 300px;
        top: 900px
    }
}

@keyframes p3 {
    0% {
        left: 300px;
        top: 900px
    }

    50% {
        left: 500px;
        top: 0px
    }

    100% {
        left: 300px;
        top: 900px
    }
}

@-webkit-keyframes p4 {
    0% {
        left: 1000px;
        top: 500px
    }

    50% {
        left: 00px;
        top: 500px
    }

    100% {
        left: 1000px;
        top: 500px
    }
}

@keyframes p4 {
    0% {
        left: 1000px;
        top: 500px
    }

    50% {
        left: 0px;
        top: 500px
    }

    100% {
        left: 1000px;
        top: 500px
    }
}

@-webkit-keyframes p5 {
    0% {
        left: 500px;
        top: 1000px
    }

    50% {
        left: 50%;
        top: 0px
    }

    100% {
        left: 500px;
        top: 1000px
    }
}

@keyframes p5 {
    0% {
        left: 500px;
        top: 1000px
    }

    50% {
        left: 50%;
        top: 0px
    }

    100% {
        left: 500px;
        top: 1000px
    }
}

@-webkit-keyframes p6 {
    0% {
        left: 500px;
        top: 200px
    }

    50% {
        left: 50%;
        top: 70%
    }

    100% {
        left: 500px;
        top: 200px
    }
}

@keyframes p6 {
    0% {
        left: 500px;
        top: 200px
    }

    50% {
        left: 50%;
        top: 70%
    }

    100% {
        left: 500px;
        top: 200px
    }
}

@-webkit-keyframes p7 {
    0% {
        left: 50px;
        top: 10%
    }

    50% {
        left: 50%;
        top: 10%
    }

    100% {
        left: 50px;
        top: 10%
    }
}

@keyframes p7 {
    0% {
        left: 50px;
        top: 10%
    }

    50% {
        left: 50%;
        top: 10%
    }

    100% {
        left: 50px;
        top: 10%
    }
}

@-webkit-keyframes p8 {
    0% {
        left: 0;
        top: 20%
    }

    50% {
        left: 50%;
        top: 20%
    }

    100% {
        left: 0;
        top: 20%
    }
}

@keyframes p8 {
    0% {
        left: 0;
        top: 20%
    }

    50% {
        left: 50%;
        top: 20%
    }

    100% {
        left: 0;
        top: 20%
    }
}

@-webkit-keyframes p9 {
    0% {
        left: 1000px;
        top: 100px
    }

    50% {
        left: 500px;
        top: 950px
    }

    100% {
        left: 1000px;
        top: 100px
    }
}

@keyframes p9 {
    0% {
        left: 1000px;
        top: 100px
    }

    50% {
        left: 500px;
        top: 950px
    }

    100% {
        left: 1000px;
        top: 100px
    }
}

/*******************FINAL******************/
/* .cristal{
    background-color: rgba(255, 255, 255, 0.034);
    ;
    position: absolute;
    height: 100vb;
    width: 150%;
    z-index: 3
} */

.navcontainer {
    position: fixed;
    z-index: 3;
    left: 45%;
    right: 50%;
}

.navbutton {
    position: fixed;
    margin-top: 1rem;
}

.navbutton hr {
    min-width: 85px;
    width: 10%;
    justify-content: center;
}

.menu {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translateX(-50%);
    width: clamp(100%, 1.0774rem + 3.7936vw, 100%);
    height: clamp(100%, 1.0774rem + 3.7936vw, 100%);
    border-radius: 0 0 100% 100%;
    transition: ease-in 0.5s;
    padding: 5%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 9;
}

.menu a {
    color: black;
    display: block;
    text-decoration: none;
    font-size: clamp(3rem, 1.0774rem + 3.7936vw, 7rem);
    text-align: center;
}

.menu a:hover {
    color: rgb(65, 59, 59);
    text-decoration: line-through
}

#desplegar:target+.menu {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: clamp(100%, 1.0774rem + 3.7936vw, 100%);
    border-radius: 0;
    transition: ease-in 0.4s;
    padding-bottom: 1%;
    /* padding: 5%; */
    box-sizing: border-box;
    overflow: hidden;
    z-index: 9;
}

#lownavbutton {
    width: fit-content;
    margin-inline: 48%;
    align-items: center;
    height: 50%;
}

#lownavbutton hr {
    min-width: 85px;
    width: fit-content;
    text-align: center;
    margin: 8px;
    color: black;
}


.lateralbar {
    border: #757573 1px solid;
    border-radius: 7pt;
    position: fixed;
    left: 10px;
    width: 55px;
    height: 200px;
    top: 45%;
    bottom: 50%;
    backdrop-filter: blur(1rem);
    z-index: 2;
}


.style1,
.style1 * {
    padding-left: 12px;
    padding-right: 25px;
    height: 4rem;
    overflow: hidden;
    margin-block: 0;
    font-size: 2rem;
    font-family: 'alumni sans', 'AlumniSans-VariableFont_wght', AlumniSans-VariableFont_wght, sans-serif;
}

.style1 a {
    font-style: italic;
    font-size: 3.5rem;
    margin-block: 0;
    padding: 0;
    /* height: 100%; */
    line-height: 35px;
    text-decoration: none;
}

.kglabel {
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
}

.kglabel * {
    font-size: 2rem;
    width: fit-content;
    font-family: 'alumni sans', 'AlumniSans-VariableFont_wght', AlumniSans-VariableFont_wght, sans-serif;
    transform: rotate(-90deg);

}

.about {
    margin-block: 2.5rem;
}

.dots {
    margin-block: -3rem;
    padding: 5px;
    margin-left: 10px;
    font-size: 6rem;
    height: 4rem;
    line-height: 25px;
    z-index: 3;
}

.containermainlayer {
    width: 100vw;
    height: 4690px;
    position: absolute;

}

.mainlayer {
    position: absolute;
    left: 16%;
    right: 8%;
    top: 0;
    bottom: 0;
    height: fit-content;
}

.seccion1 {
    height: clamp(1447px, 1.0774rem + 3.7936vw, 1800px);
}


@keyframes sticky {
    from {
        display: none;
    }

    to {
        display: block;
    }
}


.porfolio {
    position: relative;
    top: 25rem;
    margin-bottom: 10rem;
    text-align: right;
    font-size: clamp(3rem, 1.0774rem + 3.7936vw, 5rem);
    view-timeline-name: --h1;
    view-timeline-axis: block;
    animation-timeline: --h1;
    animation-name: porfolio;
}

@keyframes porfolio {
    50% {
        opacity: 100%;
        scale: 100%
    }

    100% {
        opacity: 50%;
        scale: 75%
    }

    ;
}

.freelance {
    position: relative;
    top: 50rem;
    text-align: right;
    font-size: clamp(0.1rem, 1.0774rem + 3.7936vw, 1rem);
}

.hola,
.hola * {
    box-sizing: border-box;
    margin: 0;
}

.hola {
    position: relative;
    top: 40rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto;

}

.hola h3 {
    grid-area: 1/1/2/4;
    font-size: (0.1rem, 1.0774rem + 3.7936vw, 1rem);
}


.des,
.dis {
    text-align: center;
    font-size: clamp(0.1rem, 1.0774rem + 3.7936vw, 8rem);
    text-justify: center;
}

.des:hover,
.dis:hover {
    color: mediumturquoise;
}

.des {
    view-timeline-name: --des;
    view-timeline-axis: block;
    animation-timeline: --des;
    animation-name: desarrollo;
    animation-range: entry 50% cover 100%;
}

@keyframes desarrollo {
    from {
        transform: translateX(-100%);
        scale: 50%
    }

    to {
        transform: translateX(0);
        scale: 100%;
    }
}

.dis {
    view-timeline-name: --dis;
    view-timeline-axis: block;
    animation-timeline: --dis;
    animation-name: diseño;
    animation-range: entry 50% cover 100%;
}

@keyframes diseño {
    from {
        transform: translateX(100%);
        scale: 50%
    }

    to {
        transform: translateX(0%);
        scale: 100%;
    }
}

.hola hr {
    width: 95%;
    height: 0.1px;
    align-self: center;
    justify-self: center
}

.ilu {
    grid-area: 3/1/4/4;
    font-size: clamp(0.1rem, 1.0774rem + 3.7936vw, 10rem)
}

.parrafo {
    margin-top: 50px;
    padding-block: 13rem;
    font-family: sans-serif;
    font-size: clamp(0.5rem, 1.0774rem + 3.7936vw, 2rem);
}

.seccion2 h2 span {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.seccion2 h2:hover span {
    opacity: 0.3;
}


.littlegallery {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    column-gap: 20px;
}

.card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.4rem);
    background-color: #75757307;
    border-radius: 10pt;
    border: #3a3a3a 0.1px solid;
    box-shadow: 0 0 20px #6d6d6db2;
}

.card img {
    width: 90%;
    margin-block: 20px;
    border-radius: 4pt;
    box-shadow: 0 0 10px #7575738a;
}

.etiquetas {
    height: clamp(2rem, 1.0774rem + 3.7936vh, 4rem);
}

.etiquetas span {
    font-family: 'alumni sans', 'AlumniSans-VariableFont_wght', AlumniSans-VariableFont_wght, sans-serif;
    font-size: clamp(1rem, 1.0774rem + 3.7936vh, 1.5rem);
    margin-inline: 10px;
    box-sizing: border-box;
    border-radius: 100px;
    padding-inline: 5px;
}

.CW {
    color: #063718;
    background-color: #bff0d8;
}

.AW {
    color: #063718;
    background-color: #bff0d8;
}

.WDD {
    color: #003d72;
    background-color: #c4e5fb;
}

.WD {
    color: #003d72;
    background-color: #c4e5fb;
}

.Pers {
    color: #5c451a;
    background-color: #fbe1a1;
}

.Hypervinculos {
    margin: clamp(8rem, 1.0774rem + 3.7936vh, 8rem);
    display: block;
    text-align: center;
    font-size: clamp(5rem, 1.0774rem + 3.7936vh, 10rem);
    text-decoration: none;
}

.Hypervinculos:hover {
    text-decoration: line-through;
}

.techtools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
    box-sizing: border-box;
    ;

}

.tool {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.tool img {
    width: 90%;
    margin-block: 20px;
    filter: drop-shadow(16px 7px 8px #7b7b7b9c);
    border-left: none;
    border-bottom: none;
    border-radius: 10pt;
}

.tool h3 {
    font-family: 'alumni sans', 'AlumniSans-VariableFont_wght', AlumniSans-VariableFont_wght, sans-serif;
}

.typing-demo {
    display: inline;
    font-family: poppins, 'Poppins-Medium', Poppins-Medium, sans-serif;
    font-size: clamp(2rem, 1.0774rem + 3.7936vh, 4rem);
    animation: blink .5s step-end infinite alternate 2s;
    border-right: 10px solid rgba(255, 255, 255, 0.87);
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.Hypervinculosline {
    text-decoration: none;
    font-family: poppins, 'Poppins-Medium', Poppins-Medium, sans-serif;
    font-weight: Bold;
    font-size: clamp(1.5rem, 1.0774rem + 3.7936vh, 2rem)
}

.Hypervinculosline:hover {
    text-decoration: line-through;
    font-family: 'dela gothic one', 'DelaGothicOne-Regular', DelaGothicOne-Regular, sans-serif;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    display: inline;
    float: right;
    bottom: 135px;
    animation: spin 7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.circle:hover {
    animation-play-state: paused;
}

.circle img {
    width: 100%;
    border-radius: 100px;
}


.footer hr {
    border: 0.1px;
}

.finallabel {
    height: 135px;
}

.finallabel img {
    width: 50px;
}

.pfooter {
    font-family: sans-serif;
    font-weight: normal;
}

.finallabel span {
    position: absolute;
    display: block;
    height: 50px;
    right: 0;
    font-family: sans-serif;
    padding-top: 15px;

}

@media screen and (max-width:319px) {
    .advice {
        visibility: visible;
    }

    html,
    body {
        overflow: hidden;
    }
}

@media (max-width:425px) {
    .techtools {
        grid-template-columns: 1fr;
    }

}

@media (min-width:319px) and (max-width:719px) {

    html,
    body {
        overflow-x: hidden;
    }

    .lateralbar {
        visibility: hidden;
    }

    .menu a {
        font-size: clamp(1rem, 1.0774rem + 3.7936vw, 2rem);
        height: 20px;
        align-content: center;
    }

    #lownavbutton {
        margin-inline: 40%;
    }

    .navcontainer {
        left: 38%;
        right: 50%;
    }

    .porfolio {
        font-size: clamp(1rem, 1.0774rem + 3.7936vw, 2rem);
    }

    .hola {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .hola h3 {
        font-size: (0.1rem, 1.0774rem + 3.7936vw, 1rem);
    }


    .des,
    .dis {
        text-align: center;
        font-size: clamp(3rem, 1.0774rem + 3.7936vw, 8rem);

        text-justify: center;
    }

    .hola hr {
        width: 50%;
        height: 0.1px;
        align-self: center;
        justify-self: center
    }

    .ilu {
        font-size: clamp(0.1rem, 1.0774rem + 3.7936vw, 10rem)
    }

    .parrafo {
        margin-top: 50px;
        padding-block: 13rem;
        font-family: sans-serif;
        font-size: clamp(0.5rem, 1.0774rem + 3.7936vw, 1.5rem);
    }

    .seccion2 h2 span {
        opacity: 30%;
    }

    .littlegallery {
        display: flex;
        flex-flow: column;
    }

    .etiquetas {
        height: 5rem;
    }

    .etiquetas span {
        margin: 5px;

        display: block;
    }

    .Hypervinculos {
        margin-inline: 0;
        margin-block: 4rem;
        font-size: clamp(2rem, 1.0774rem + 3.7936vw, 4rem);
        text-decoration: none;
    }

    .typing-demo {
        font-size: clamp(1rem, 1.0774rem + 3.7936vw, 3rem);
    }

    .Hypervinculosline {
        font-size: clamp(0.5rem, 1.0774rem + 3.7936vw, 1.5rem)
    }

    .circle {
        width: 135px;
        border-radius: 50%;
        position: relative;
        bottom: auto;
        float: none;
        display: block;
        margin-bottom: 50px;
        animation: spin 7s linear infinite;
    }
}

@media (min-width:719px) and (max-width:920px) {
    .seccion2 h2 span {
        opacity: 30%;
    }

    .littlegallery {
        display: flex;
        flex-flow: column;
    }

    .etiquetas {
        height: 5rem;
    }

    .etiquetas span {
        margin: 5px;

        display: block;
    }

    .techtools {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
        box-sizing: border-box;
    }

    .Hypervinculos {
        margin-inline: 0;
        margin-block: 4rem;
        font-size: clamp(2rem, 1.0774rem + 3.7936vw, 4rem);
        text-decoration: none;
    }
}

.animate {
    opacity: 0;
    transition: opacity 1s;
}

.animate.active {
    opacity: 1;
}